

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    overflow-x: hidden;
    background: linear-gradient(45deg, #ff3e3e, #ffcc70);
}

::-webkit-scrollbar{
    width: 0;
}


/* ------ HEADER SECTION ------ */


.imagen-flecha {
    width: 40px;
    height: 40px;
    object-fit: contain;
}

header {
    display: flex;
    min-height: 70px;
    background-color: black;
    align-items: center;
    padding: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.btn {
    padding: 10px;
    margin-right: 10px;
    background: rgb(246, 110, 78);
    color: White;
    border: none;
    border-radius: 50px;
    font-size: 20px;
    cursor: pointer;
    width: 20px;
    height: 20px;
}

.btn:hover{
    background-color: #ff4c4c;
}


/* ------ Botón atras ------ */

.atras-btn {
    background-color: #ff6b6b;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 16px;
    top: 10px;
    right: 10px;
    width: auto;
}

.atras-btn:hover {
    background-color: #ff4c4c;
}



/* ------ MAIN SECTION ------ */

main {
    height: 100vh;
}


.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.editar-perfil {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    padding: 40px;
    text-align: center;
    width: 50vw;
    margin-top: 50px;
}

.editar-perfil {
    text-align: center;
}

.title {
    font-size: 3vw;
    font-weight: bold;
}


#nombreFoto {
    margin: 10px;
    color: #555;
}

/* Círculo para la imagen */
.imagen-circulo {
    display: inline-block;
    width: 200px; /* Tamaño del círculo */
    height: 200px;
    border-radius: 50%;
    overflow: hidden; /* Contenido limitado al círculo */
    border: 2px solid #ccc; /* Bordes decorativos */
    cursor: pointer; /* Cursor indica clickeable */
    position: relative;
    background-color: #f4f4f4;
}

.imagen-circulo:hover {
    opacity: 0.9;
}

.imagen-circulo img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* La imagen cubre todo el círculo */
    vertical-align: middle;
}

#fotoUsuarioEP {
    width: 100%; /* Se ajusta al tamaño del círculo */
    height: 100%;
    border-radius: 50%; /* Asegura la forma circular */
}


.save {
    background-color: #ff6b6b;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 16px;
    width: 100%;
}

.save:hover {
    background-color: #ff4c4c;
}



/* ------ FOOTER SECTION ------ */


#main-footer {
    background-color: black;
    color: #aaa;
    text-align: center;
    padding: 20px;
    font-size: 12px;
    margin-top: auto;
}

#main-footer h3 {
    color: #fff;
    margin-bottom: 10px;
}

#main-footer ul {
    list-style: none;
    padding: 0;
}

#main-footer ul li {
    margin-bottom: 5px;
}

#main-footer h4 {
    margin-top: 20px;
    font-weight: normal;
    color: #aaa;
}