
header {
    display: flex; 
    justify-content: space-between; 
    min-height: 70px;
    background-color: black;
    align-items: center;
    padding:10px;
}



body{
    font-family: sans-serif;
    margin: 0;
}


.logo{
    display: flex;
    align-items: center;
}

.logo img{
    height: 80px;
    margin-right: 10px;
}


@media (max-width:700px){
    header{
        flex-direction: column;
    }
    
    nav{
        padding: 10px 0px;
    }
    
}

html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

#main-footer {
    background-color: black;
    color: #aaa;
    text-align: center;
    padding: 20px;
    font-size: 12px;
    margin-top: auto;
}

#main-footer h3 {
    color: #fff;
    margin-bottom: 10px;
}

#main-footer ul {
    list-style: none;
    padding: 0;
}

#main-footer ul li {
    margin-bottom: 5px;
}

#main-footer h4 {
    margin-top: 20px;
    font-weight: normal;
    color: #aaa;
}





.btn {
 width: 6.5em;
 height: 2.3em;
 margin: 0.5em;
 background: rgb(246, 110, 78);
 color: White;
 border: none;
 border-radius: 0.625em;
 font-size: 20px;
 font-weight: bold;
 cursor: pointer;
 position: relative;
 z-index: 1;
 overflow: hidden;
 
}

button:hover {
 color: black;
}

button:after {
 content: "";
 background: white;
 position: absolute;
 z-index: -1;
 left: -20%;
 right: -20%;
 top: 0;
 bottom: 0;
 transform: skewX(-45deg) scale(0, 1);
 transition: all 0.5s;
}

button:hover:after {
 transform: skewX(-45deg) scale(1, 1);
 -webkit-transition: all 0.5s;
 transition: all 0.5s;
}









